<h2 class="text-center">Pieces List</h2>
<!-- DELETE CODE BELOW THIS LINE -->
<% pieces.forEach(piece => { %>
  <p><a href="/pieces/<%= piece._id %>"><%= piece.name %> </a> (<%=piece.museum.name %>)</p>
<% }); %>
