<h2 class="text-center">Pieces List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<p>TODO: Add a forEach loop and show the names of all pieces</p>
<p>In parentheses, show the name of the museum it is located in</p>
<p>The name should be a link to the piece show page</p>

<h3>For example</h3>

<p><a href="/pieces/<%='the_actual_id_goes_here'%>">Mona Lisa</a> (The Louvre)</p>

